<footer id="footer">
        <div class="foot-separator"></div>
        <div class="foot-wrapper">
            <div class="foot-category">
                <p class="foot-title">Contact</p>
                <p><span class="text-important">Mail: </span><a href="mailto:julien.martinez301@outlook.fr">julien.martinez301@outlook.fr</a></p>
                <p><span class="text-important">Phone: </span>+33 6.49.51.44.99</p>
                <p><span class="text-important">Resume: </span><a href="/assets/files/MARTINEZ_Julien_CV-fr.pdf" target="_blank">FR</a> 
                    / <a href="/assets/files/MARTINEZ_Julien_CV-en.pdf" target="_blank">EN</a></p>
                <p><span class="text-important">Location: </span>Lyon</p>
            </div>
            <div class="foot-category">
                <p class="foot-title">Links</p>
                <a class="footer-link" href="https://www.linkedin.com/in/martinez-julien/" target="_blank"><img class="footer-logo" src="/assets/img/logos/linkedin.png" alt="LinkedIn">LinkedIn</a>
                <a class="footer-link" href="https://github.com/Miiyukou" target="_blank"><img class="footer-logo" src="/assets/img/logos/git.png" alt="GitHub">GitHub</a>
            </div>
        </div>
        <p id="copyright">© 2026 Julien Martinez. All rights reserved.</p>
    </footer>