<header>
        <div id="header-title"><strong><a href="/index.html#hero">Julien Martinez</a></strong></div>
        <nav>
            <ul>
                <li><a href="/index.html#hero">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-button" href="/index.html#projects">Projects</a>
                    
                    <div class="dropdown-content">
                        <a href="/projects/wip-project.html">WIP Project</a>
                        <a href="/projects/mrchaussette-battle-tournament.html">Mr.Chaussette Battle Tournament</a>
                        <a href="/projects/mrchaussette-bt-vs.html">Mr.Chaussette Battle Tournament VS</a>
                        <a href="/projects/fightmare.html">Fightmare</a>
                        <a href="/projects/thief-2.html">Thief 2: The Metal Age</a>
                        <a href="/projects/ffxiv.html">Final Fantasy XIV</a>
                        <a href="/projects/nier-automata.html">NieR: Automata</a>
                        <a href="/projects/advergame.html">Advergame</a>
                        <a href="/projects/sirius.html">Sirius</a>
                    </div>

                </li>
                <li><a href="/about.html">About</a></li>
                <li><a href="#footer">Contact</a></li>
            </ul>
        </nav>
    </header>